<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- Load home icon + css external file  from static files -->
        <link rel = "stylesheet" href = "{% static 'style.css' %}" >
        <div class="home">
            <img src = "{% static 'images/Homeicon.svg' %}" >
        </div>
       
    </head>
    <header>
        <div class="title"> 
            <h1> Save A Species </h1>
        </div>
        <h3 class="subheading">Select An Animal Type </h3>
        
    </header>



</html>